target
*.iml

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#spring-boot application properties
**/application-DEV.properties
**/application-DEV.yml
application.properties
application.yml

.idea
.DS_Store

.java-version

# helm charts
*.tgz
*Chart.lock

cache.*
data
data_collection

application-mysql-*.yml
.env

*dependency-reduced-pom.xml
service/solace-config-client/.openapi-generator
