springdoc:
  packages-to-scan: com.solace.maas.ep.event.management.agent.scanManager.rest
  api-docs:
    path: /docs/event-management-agent
  swagger-ui:
    path: /event-management-agent/swagger-ui.html
server:
  port: 8180
spring:
  main:
    allow-bean-definition-overriding: true
  servlet:
    multipart:
      max-request-size: ${MAX_REQUEST_SIZE:5MB}
      max-file-size: ${MAX_FILE_SIZE:5MB}
  datasource:
    url: jdbc:h2:file:./data/cache;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    driver-class-name: org.h2.Driver
    password: mn5UAIl0lD
  jpa:
    hibernate:
      ddl-auto: create-drop
    defer-datasource-initialization: true
camel:
  main:
    use-mdc-logging: true
kafka:
  client:
    config:
      reconnections:
        max-backoff:
          unit: milliseconds
          value: 1000
        backoff:
          unit: milliseconds
          value: 50
      connections:
        max-idle:
          unit: milliseconds
          value: 10000
        request-timeout:
          unit: milliseconds
          value: 5000
        timeout:
          unit: milliseconds
          value: 60000
eventPortal:
  runtimeAgentId: ${EP_RUNTIME_AGENT_ID:unlivc38v58}
  organizationId: ${EP_ORGANIZATION_ID:bol333}
  topicPrefix: ${EP_TOPIC_PREFIX:sc/ep/runtime}
  gateway:
    id: ok3901eq18j
    name: test-evmr
    messaging:
      standalone: false
      rtoSession: false
      enableHeartbeats: true
      testHeartbeats: true
      connections:
        - name: eventPortalGateway
          authenticationType: ${EP_GATEWAY_AUTH:basicAuthentication}
          msgVpn: ${EP_GATEWAY_MSGVPN:test-evmr}
          url: ${EP_GATEWAY_URL:tcps://mr-connection-jufrhsq41cr.messaging.mymaas.net:55443}
          users:
            - clientName: client_unlivc38v58
              username: ${EP_GATEWAY_USERNAME:org-bol333-p3052prtc5w-unlivc38v58}
              password: 1@7oqhZFcc@Drr-p@YOUasV9
              name: messaging1
          proxyEnabled: ${SOLACE_PROXY_ENABLED:false}
          proxyType: ${SOLACE_PROXY_TYPE:http}
          proxyHost: ${SOLACE_PROXY_HOST:localhost}
          proxyPort: ${SOLACE_PROXY_PORT:8443}
          proxyUsername: ${SOLACE_PROXY_USERNAME:}
          proxyPassword: ${SOLACE_PROXY_PASSWORD:}
