<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_LEVEL_PATTERN" value="%clr(%5p) %clr([%X{traceId:-}]){yellow}"/>
    <property resource="command-configs.properties"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <appender name="SiftLogger" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>SCAN_ID</key>
            <defaultValue>general-logs</defaultValue>
        </discriminator>
        <sift>
            <appender name="Logger" class="ch.qos.logback.core.FileAppender">
                <file>data_collection/logs/${SCAN_ID}.log</file>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>[%X{SCAN_ID}] ------ %date [%level] [%thread] %logger{10} [%file:%line] %msg%n</pattern>
                </layout>
            </appender>
        </sift>
    </appender>
    <springProperty name="agentId" source="event-portal.runtime-agent-id"/>
    <springProperty name="organizationId" source="event-portal.organization-id"/>
    <springProperty name="USE_JSON_LOG" source="logging.log-in-json-format"/>
    <property name="ORG_ID" value="${organizationId}"/>
    <property name="USE_JSON" value="${USE_JSON_LOG}"/>

    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <if condition='property("USE_JSON").equals("true")'>
            <then>
                <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                    <customFields>{"component":"event-management-agent-${agentId}"}</customFields>
                    <if condition='property("ORG_ID").equals("*")'>
                        <then>
                            <customFields>{"component":"event-management-agent-${agentId}",
                                "is_public": "true"}</customFields>
                        </then>
                        <else>
                            <customFields>{"component":"event-management-agent-${agentId}",
                                "is_public": "false"}</customFields>
                        </else>
                    </if>
                    <providers>
                        <stackTrace>
                            <fieldName>stackTrace</fieldName>
                            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                                <rootCauseFirst>true</rootCauseFirst>
                            </throwableConverter>
                        </stackTrace>
                    </providers>
                </encoder>
            </then>
            <else>
                <encoder>
                    <pattern>%d [%thread] %-5level %-50logger{40} : %msg%n</pattern>
                </encoder>
            </else>
        </if>

        <file>${LOG_FILE:-EMA.log}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOGBACK_ROLLINGPOLICY_FILE_NAME_PATTERN:-EMA-%d{yyyy-MM-dd}.%i.log}</fileNamePattern>
            <maxFileSize>${LOGBACK_ROLLINGPOLICY_MAX_FILE_SIZE:-10MB}</maxFileSize>
            <maxHistory>${LOGBACK_ROLLINGPOLICY_MAX_HISTORY:-7}</maxHistory>
            <totalSizeCap>${LOGBACK_ROLLINGPOLICY_TOTAL_SIZE_CAP:-10MB}</totalSizeCap>
            <cleanHistoryOnStart>false</cleanHistoryOnStart>
        </rollingPolicy>
    </appender>
    <appender name="StreamingAppender" class="com.solace.maas.ep.event.management.agent.logging.StreamingAppender"/>


    <appender name="RollingCommandsFile" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <filter class="com.solace.maas.ep.event.management.agent.logging.CommandFilter"/>

        <file>${COMMAND_PATH}/logs/command-logs.log</file>

        <encoder>
            <pattern>[%X{COMMAND_CORRELATION_ID}] ------ %date [%level] [%thread] %logger{10} [%file:%line] %msg%n
            </pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${COMMAND_PATH}/logs/command-logs-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>1MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>10MB</totalSizeCap>
            <cleanHistoryOnStart>false</cleanHistoryOnStart>
        </rollingPolicy>
    </appender>

    <springProfile name="default,mysql,mysql-dev,DEV,TEST">
        <springProperty scope="context" name="LOG_ROOT" source="logging.level.root"/>
        <root level="${LOG_ROOT:-INFO}">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="RollingFile"/>
            <appender-ref ref="SiftLogger"/>
            <appender-ref ref="RollingCommandsFile"/>
            <appender-ref ref="StreamingAppender"/>
        </root>
    </springProfile>
</configuration>
