<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_LEVEL_PATTERN" value="%clr(%5p) %clr([%X{traceId:-}]){yellow}"/>
    <property resource="command-configs.properties"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>EMA.log</file>
        <encoder>
            <pattern>%d [%thread] %-5level %-50logger{40} : %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>EMA-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>1MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>10MB</totalSizeCap>
            <cleanHistoryOnStart>false</cleanHistoryOnStart>
        </rollingPolicy>
    </appender>

    <appender name="RollingFileInJSONFormat" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"component":"event-management-agent-${EMA_ID:-}"}</customFields>
            <providers>
                <stackTrace>
                    <fieldName>stackTrace</fieldName>
                    <throwableConverter
                            class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <rootCauseFirst>true</rootCauseFirst>
                    </throwableConverter>
                </stackTrace>
            </providers>
        </encoder>
        <file>${LOG_FILE_PATH:-EMA.log}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>EMA-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>10MB</totalSizeCap>
            <cleanHistoryOnStart>false</cleanHistoryOnStart>
        </rollingPolicy>
    </appender>

    <appender name="SiftLogger" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>SCAN_ID</key>
            <defaultValue>general-logs</defaultValue>
        </discriminator>
        <sift>
            <appender name="Logger" class="ch.qos.logback.core.FileAppender">
                <file>data_collection/logs/${SCAN_ID}.log</file>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>[%X{SCAN_ID}] ------ %date [%level] [%thread] %logger{10} [%file:%line] %msg%n</pattern>
                </layout>
            </appender>
        </sift>
    </appender>

    <appender name="StreamingAppender" class="com.solace.maas.ep.event.management.agent.logging.StreamingAppender"/>


    <appender name="RollingCommandsFile" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <filter class="com.solace.maas.ep.event.management.agent.logging.CommandFilter"/>

        <file>${COMMAND_PATH}/logs/command-logs.log</file>

        <encoder>
            <pattern>[%X{COMMAND_CORRELATION_ID}] ------ %date [%level] [%thread] %logger{10} [%file:%line] %msg%n
            </pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${COMMAND_PATH}/logs/command-logs-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>1MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>10MB</totalSizeCap>
            <cleanHistoryOnStart>false</cleanHistoryOnStart>
        </rollingPolicy>
    </appender>

    <springProfile name="default,mysql,mysql-dev,DEV,TEST">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="RollingFile"/>
            <appender-ref ref="SiftLogger"/>
            <appender-ref ref="RollingCommandsFile"/>
            <appender-ref ref="StreamingAppender"/>
        </root>
        <logger name="com.solace.maas" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="RollingFile"/>
            <appender-ref ref="SiftLogger"/>
            <appender-ref ref="RollingCommandsFile"/>
            <appender-ref ref="StreamingAppender"/>
        </logger>
    </springProfile>

    <springProfile name="solaceCloud">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="RollingFileInJSONFormat"/>
            <appender-ref ref="SiftLogger"/>
            <appender-ref ref="RollingCommandsFile"/>
            <appender-ref ref="StreamingAppender"/>
        </root>
        <logger name="com.solace.maas" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="RollingFileInJSONFormat"/>
            <appender-ref ref="SiftLogger"/>
            <appender-ref ref="RollingCommandsFile"/>
            <appender-ref ref="StreamingAppender"/>
        </logger>

    </springProfile>

</configuration>
